@use "../abstract/" as *;
@use "../base/" as *;

.menuList {
  padding: 10rem 0;

  &__title {
    @include centerAll;
    flex-direction: column;
    margin: 3rem 0;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      font-family: $font-secondary;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70rem;

    img {
      border-radius: 2rem;
      max-width: 73vw;
      margin: 0 auto;
    }
  }
  &__content {
    @include evengrid(2, 1rem);
    justify-items: center;
    gap: 25rem;
  }
  &__food {
    ul {
      @include between;
      li {
        color: $clr--secondary;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    p {
      margin-bottom: 2rem;
      text-align: center;
    }
  }
}

@include mediaQuery(520px) {
  .menuList {
    &__content {
      @include evengrid(1, 1rem);
    }
    &__food {
      ul {
        flex-direction: column;
      }
    }
  }
}
